<html>
  <head>
    <title>[object SVGSymbolElement]</title>
    <link type="text/css" href="homepageStyles.css"/>
  </head>
  <body></body>
  <center>
    <h1>AnQ</h1>
    <div class="search">
      <input type="text" id="searchValue" placeholder="Search.."/>
    </div>
    <div class="container">
      <div class="vertical-center">
        <div class="topnav"> <a class="active" href="/">Home</a><a href="tag.php">Tags </a><a href="ask.php">Ask </a><a href="question.php">Questions</a></div>
      </div>
    </div>
  </center>
</html>